.al{
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
    /* overflow: hidden; */
    padding-top: 8em;
    /* margin-left:2em; */
    padding-left: 2em;
    
}

.art{
  overflow-y: auto;
}

.Img{
  padding-left: 1em;
}


tr.spaceUnder>td {
    padding-bottom: 1em;
  }
  
  .td {
    padding: 0 20px;
  }

  .cols{
      column-span: 2;
  }

  .btn{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }
  .fontname{
    font-size:3em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 1em;
    color: cadetblue;
    
  }

  .col2{
    padding: 2em;
  }